apiVersion: apps/v1
kind: Deployment
metadata:
  name: multiplayer-chess
  labels:
    app: multiplayer-chess
spec:
  replicas: 2
  selector:
    matchLabels:
      app: multiplayer-chess
  template:
    metadata:
      labels:
        app: multiplayer-chess
    spec:
      containers:
        - name: multiplayer-chess
          image: IMAGE_PLACEHOLDER
          ports:
            - containerPort: 8081
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          readinessProbe:
            tcpSocket:
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
